include ./../mixins/instagram-post.pug
include ./../mixins/sidebar-title.pug

.instagram-sidebar
    +sidebar-title("Instagram")
    .instagram-sidebar__wrapper
        +instagram-post("#", "img1.jpg", "Img1")
        +instagram-post("#", "img2.jpg", "Img2")
        +instagram-post("#", "img3.jpg", "Img3")
        +instagram-post("#", "img4.jpg", "Img4")
        +instagram-post("#", "img5.jpg", "Img5")
        +instagram-post("#", "img6.jpg", "Img6")
        +instagram-post("#", "img7.jpg", "Img7")
        +instagram-post("#", "img8.jpg", "Img8")