include ./../mixins/sidebar-post.pug
include ./../mixins/sidebar-title.pug

.popular-posts-sidebar
    +sidebar-title("Popular posts")
    +sidebar-post("#", "img1.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
    +sidebar-post("#", "img2.jpg", "Vinyl hexagon tbh selvage chambray street art", "december 26, 2019 — 5 comments")
    +sidebar-post("#", "img3.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones", "december 26, 2019 — 5 comments")
    +sidebar-post("#", "img4.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin", "december 26, 2019 — 5 comments")
    +sidebar-post("#", "img5.jpg", "inim ad austin tousled gluten-free", "december 26, 2019 — 5 comments")