.copyright {
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #E8EBEE;
    text-align: center;
}

.copyright__text {
    font-style: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #B7BABE;
}