.button-post {
    display: inline-block;
    
    height: 44px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 6px;
    background-color: #375573;
    border: 2px solid #375573;

    font-weight: 600;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
    text-decoration: none;
    color: #fff;

    white-space: nowrap;

    &:hover, &:focus {
        background-color: #fff;
        color: #000;
    }

    &:active {
        background-color: #687888;
        border: 2px solid #687888;
        color: #fff;
    }
}