include ./../mixins/social-icons.pug

mixin post(title, subtitle, img, link, text)
    article.post
        .post__title
            h2.h2 #{title}
        .post__subtitle
            h3.h3 #{subtitle}
        .post__img
            img(src="./img/post/" + img, alt=title)
        .post__text
            block
        .post__footer
            .post__btn
                a(href= link).button-post #{text}
            .post__social
                +social-icons([
                    {link: '#', img: './img/header/social-icons/whatsapp.svg', title: 'Whatsapp'},
                    {link: '#', img: './img/header/social-icons/twit.svg', title: 'Instagramm'},
                    {link: '#', img: './img/header/social-icons/inst.svg', title: 'Twitter'},
                    {link: '#', img: './img/header/social-icons/facebook.svg', title: 'Facebook'}
                ]) 
        
        