block variables 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Exo+2:900|Montserrat:400,400i,500,700|Playfair+Display&display=swap&subset=cyrillic" rel="stylesheet")
        title #{title}
    body 

        include ./../sections/header.pug

        block content 
        
        include ./../sections/footer.pug
        include ./../sections/copyright.pug
       
        script(src="js/main.js")
